---
import { Image } from "astro:assets";

import Layout from "../../../layouts/Layout.astro";
import NavBar from "../../../components/NavBar.astro";

import red_dress from "../../../img/estrela.png";
---

<Layout title="Works: Estrella | Viviane">
  <NavBar />
  <main transition:animate="initial" class="flex h-full items-center justify-center">

    <article class="grid max-w-screen-2xl grid-cols-6 px-24">
      <div class="col-span-2 mr-36">
        <div class="mb-12">
          <h1 class="font-serif text-3xl">ESTRELLA</h1>

          <div class="relative flex items-center">
            <div class="h-1 flex-grow bg-green-primary"></div>
            <div class="rounded-full bg-green-primary p-2"></div>
          </div>
        </div>

        <div>
          <p class="text-pretty text-justify font-sans text-xl font-semibold">
Study project on the visual identity of a jewelry brand.
            <br />
            <br />
Every detail reflects the vibrant energy of youth, intertwined with the timeless elegance of our creations. A unique fusion that transforms the simple into the sublime, capturing the radiant essence of youth in each piece produced here.
          </p>
        </div>
      </div>

      <div class="col-span-2 mr-16">
        <div>
          <h2 class="font-serif text-[25px]">INFORMATION</h2>

          <div class="relative flex items-center">
            <div class="h-0.5 flex-grow bg-purple-primary"></div>
          </div>

          <p class="font-sans text-[18px] mt-8">Project duration: <br /> 2 days </p>
        </div>

        <div class="mt-20">
          <h2 class="font-serif text-[25px]">TOOLS</h2>

          <div class="relative flex items-center">
            <div class="h-0.5 flex-grow bg-purple-primary"></div>
          </div>

          <p class="font-sans text-[18px] mt-8">
Adobe Photoshop
            <br /> Adobe Illustrator
          </p>
        </div>
      </div>

      <div class="col-span-2">
        <Image transition:name="estrella"
          class="rounded-xl object-cover shadow-2xl"
          src={red_dress}
          width="405"
          height="546"
          alt="Viviane Diniz's picture"
          loading="lazy"
        />
      </div>
    </article>
  </main>
</Layout>

<style>
  .rounded-img {
    border-radius: 10px;
  }
</style>
