---
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";

import red_dress from "../../img/blue_star.png";
---

<Layout title="Projetos: Blue Star | Viviane">
  <NavBar />
  <main transition:animate="initial" class="flex h-full items-center justify-center">

    <article class="grid max-w-screen-2xl grid-cols-6 px-24">
      <div class="col-span-2 mr-36">
        <div class="mb-12">
          <h1 class="font-serif text-3xl">BLUE STAR</h1>

          <div class="relative flex items-center">
            <div class="h-1 flex-grow bg-green-primary"></div>
            <div class="rounded-full bg-green-primary p-2"></div>
          </div>
        </div>

        <div>
          <p class="text-pretty text-justify font-sans text-xl font-semibold">
Neste projeto de estudo sobre roupa 3D, explorei a fusão entre o físico e o digital, inspirado em uma peça física com detalhes em renda.
            <br />
            <br />
Elevando a moda ao mundo digital, preservando a delicadeza e a elegância do mundo tangível, o resultado foi uma experiência online envolvente e sofisticada.
          </p>
        </div>
      </div>

      <div class="col-span-2 mr-16">
        <div>
          <h2 class="font-serif text-[25px]">INFORMAÇÃO</h2>

          <div class="relative flex items-center">
            <div class="h-0.5 flex-grow bg-purple-primary"></div>
          </div>

          <p class="font-sans text-[18px] mt-8">Duração do Projeto: <br /> 12 dias </p>
        </div>

        <div class="mt-20">
          <h2 class="font-serif text-[25px]">FERRAMENTAS</h2>

          <div class="relative flex items-center">
            <div class="h-0.5 flex-grow bg-purple-primary"></div>
          </div>

          <p class="font-sans text-[18px] mt-8">
            Clo3D
            <br /> Cinema 4D
            <br /> Adobe Substance Painter
            <br /> Unreal Engine 5
          </p>
        </div>
      </div>

      <div class="col-span-2">
        <Image transition:name="blue-star"
          class="rounded-xl object-cover shadow-2xl"
          src={red_dress}
          width="405"
          height="546"
          alt="Blue Star"
          loading="lazy"
        />
      </div>
    </article>
  </main>
</Layout>

<style>
  .rounded-img {
    border-radius: 10px;
  }
</style>
