---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";

import aboutPic from "../img/about_pic.png";

import unreal from "../img/skills/unreal.png";
import figma from "../img/skills/figma.png";
import blender from "../img/skills/blender.png";
import ab_illustrator from "../img/skills/ab_illustrator.png";

const skills = [
  {
    name: "Unreal Engine",
    logo: unreal,
  },
  {
    name: "Figma",
    logo: figma,
  },
  {
    name: "Blender",
    logo: blender,
  },
  {
    name: "Adobe Illustrator",
    logo: ab_illustrator,
  },
] as const;
---

<Layout title="Sobre | Viviane">
  <NavBar />
  <main class="justify-center">
    <div class="grid grid-cols-1 px-24 md:grid-cols-6 md:mt-20">
      <div class="flex items-center justify-center md:col-span-2">
        <Image
          class="h-2/3 w-auto rounded-xl object-cover shadow-2xl md:h-auto"
          src={aboutPic}
          alt="Viviane Diniz's picture"
          loading="lazy"
        />
      </div>

      <div class="md:col-span-4 md:ml-24">
        <div class="mb-12">
          <h1 class="font-serif text-[64px]">Viviane Diniz</h1>

          <div class="relative flex items-center">
            <div class="h-1 flex-grow bg-green-primary"></div>
            <div class="rounded-full bg-green-primary p-2"></div>
          </div>
        </div>

        <div>
          <p
            class="text-pretty text-justify font-sans text-xl
            font-semibold"
          >
            Sou uma jovem designer e artista 3D brasileira, apaixonada por
            transformar ideias em artes vibrantes e envolventes. Cada projeto do
            meu portfólio reflete minha dedicação em dar vida a conceitos por
            meio do design gráfico e da modelagem tridimensional, proporcionando
            experiências visuais únicas.
            <br />
            Deixe-me apresentar sua história de uma forma especial.
          </p>
        </div>

        <div class="mt-24">
          <h2 class="font-serif text-[32px]">Skills</h2>

          <div class="relative flex items-center">
            <div class="h-0.5 flex-grow bg-purple-primary"></div>
          </div>
        </div>
        <div
          class="mt-11 grid grid-cols-1 sm:grid-cols-2 justify-between gap-4 xl:grid-cols-4"
        >
          {
            skills.map((skill) => (
              <div
                class="flex items-center rounded-full bg-purple-primary
                shadow-2xl shadow-purple-primary"
              >
                <div class="rounded-full bg-purple-secondary p-3">
                  <Image
                    class="max-h-11 max-w-11"
                    src={skill.logo}
                    alt={`Logo of ${skill.name}`}
                  />
                </div>
                <p class="text-wrap pl-1 pr-2 font-sans text-xl">
                  {skill.name}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .rounded-img {
    border-radius: 10px;
  }
</style>
