---
import { Icon } from "astro-icon/components";

const navItems = [
  { label: "HOME", href: '/'},
  { label: "ABOUT", href: "/about" },
  { label: "WORKS", href: "/works" },
] as const;

const currentPath = new URL(Astro.request.url).pathname.replace(/\/$/, "");

function activeCLass(item: (typeof navItems)[number]): string {
  return item.href.replace(/\/$/, "") === `${currentPath}` ? "backdrop-blur-sm border border-white/10  bg-white/30 " : "";
}

---

<header>
  <nav class="flex items-center justify-between pt-4">
    <div></div>
    <div>
      {
        navItems.map((item) => (

          <a class=`rounded-xl py-2 px-4 mx-2  group text-black subtitle-font
            font-bold transition-all duration-300 ease-in-out
            ${activeCLass(item)}`
            href={item.href}>
            <span class="bg-left-bottom bg-gradient-to-r from-black to-black bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
              {item.label}
            </span>
          </a>
        ))
      }

    </div>
    <div class="flex justify-between rounded-l-lg bg-purple-300 p-2">
      <a
        href="https://www.behance.net/vivianedn"
        aria-label="Link to Viviane's Behance page"
        target="_blank"
      >
        <Icon name="social/behance" class="mr-2 text-xl" />
      </a>

      <a
        href="https://www.instagram.com/viviane.dzn"
        aria-label="Link to Viviane's instagram page"
        target="_blank"
      >
        <Icon name="social/ig" class="mr-2 text-xl" />
      </a>

      <a
        href="https://www.linkedin.com/in/viviane-diniz-118565286"
        aria-label="Link to Viviane's Linkedin page"
        target="_blank"
      >
        <Icon name="social/linkedin" class="text-xl" />
      </a>
    </div>
  </nav>
</header>
