---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";


// const navItems = [
// 	{ label: 'HOME', href: '/' },
// 	{ label: 'ABOUT', href: '/about/' },
// 	{ label: 'WORKS', href: '/works/' },
// 	{ label: 'CONTACT', href: '/contact/' },
// ] as const;

---

<header>
  <nav class="flex items-center justify-between">
    <div></div>
    <div>
      <Button type="primary" title="HOME" />
      <Button title="ABOUT" />
      <Button title="WORKS" />
      <Button title="CONTACT" />
    </div>
    <div class="flex justify-between bg-purple-300 py-2 px-4 rounded-l-full">
      <a href="https://www.behance.net/vivianedn" target="_blank">
	<Icon name="social/behance" class="text-xl mr-2"/>
      </a>

      <a href="https://www.instagram.com/viviane.dzn" target="_blank">
      <Icon name="social/ig" class="text-xl" />
      </a>
    </div>
  </nav>
</header>
