---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Viviane's portifolio">
    <meta name="keywords" content="Designer, Web Designer, Graphic Designer, 3D Design, 3D Artist, Art">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <div class="background-image"></div>
  <body>
    <slot />
  </body>
</html>

<style is:global>
:root {
  --background-light: #fafdfa;
  --button-secondary: #aa88e0;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
    );
}
html {
  font-family: system-ui, sans-serif;
  font-size: 14px;
}
html, body {
  height: 100%;
  width: 100%;
}

.background-image {
  background-image: url( '/background.svg' );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;

  position: fixed;
  left: 0;
  right: 0;
  z-index: -9999;
  width: 100%;
  height: 100%;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.title-font {
  font-family: "Cralika", serif;
}

.subtitle-font {
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cralika";
  src: url("/fonts/Cralika.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>
